@inherits Umbraco.Web.Mvc.UmbracoViewPage<UmbBook.Models.MembersWallModel>
@using System.Web.Mvc.Html
@{
    Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">

        <article>
            <header>
                <img height="150" src="@Model.profileImage" />
                <h3>@Model.owner.Name</h3>
                <a href="mailto:@Model.owner.Email">@Model.owner.Email</a>
                @if (Model.isThisHisOwnWall)
                {
                    @Html.Partial("ProfileImagePost")

                    @Html.Partial("FeedPost", new UmbBook.Models.FeedPostModel())

                }
                else
                {
                    @Html.Partial("FriendRequest", new UmbBook.Models.FriendRequestModel())
                }
            </header>
            
            <section>
        
                @Html.Action("RenderFeedListByUserId", "FeedListSurface", new { userIdToView = Model.owner.Id })

            </section>
            @if (Model.isThisHisOwnWall)
            {
                <section>
                    @Html.Action("RenderFriendRequests", "FriendRequestSurface")
                </section>
                
                <section>
                    @Html.Action("RenderAcceptedFriends", "FriendRequestSurface")
                </section>
            }
        </article>



    </div> <!-- #main -->
</div> <!-- #main-container -->